/*//------------------------------Login----------------------------------*/

.intro-header-text h2 {
 color: #bb1111;
 text-shadow: 1.6px 1.4px 0px rgba(0,0,0,0.75);
}

.intro-header-text h3 {
  color: #fff;
 text-shadow: 1.6px 1.4px 0px rgba(0,0,0,0.75);
}
