<!--footer start -->
<footer id="footer" class="gray footer-3">
    <div class="container">
        <div class="f-logo-center">
            <a href="index.html" class="footer-logo">
                <img class="retina" src="../assets/img/logo-footer.png" alt=""/>
            </a>
        </div>
        <!--<div class="sub-title">THE ULTIMATE THEME WITH MASSIVE COLLECTION</div>-->

        <div class="col-md-6 display-none">
            <div class="copyright">
                Copyright © 2018 OCSC TUTOR
            </div>
            <div class="copyright-sub-title text-uppercase">
                by <a href="http://www.irobust.co.th">iRobust Co., Ltd.</a> | All Rights Reserved
            </div>
        </div>
        <div class="col-md-6 display-none">
            <div class="social-link pull-right circle ">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--footer end-->
