<!-- BEGIN HEADER TOP -->
<div class="page-header-top mu-topbar">
  <div class="container">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <a href="#" class="logo-brand">
        <img class="retina size-logo" src="../assets/img/logo-footer.png" alt="">
      </a>
    </div>
    <!-- END LOGO -->
    <div class="top-menu display-none">
      <ul class="top-link">
        <li><i class="fa fa-phone"></i> 095 - 4482314</li>
      </ul>
    </div>
    <!-- BEGIN RESPONSIVE MENU TOGGLER -->
    <a href="javascript:;" class="menu-toggler"></a>
    <!-- END RESPONSIVE MENU TOGGLER -->
  </div>
</div>
<!-- END HEADER TOP -->
<!-- BEGIN HEADER MENU -->
<div class="page-header-menu">
  <div class="container">
    <div class="hor-menu" style="width: 100%;">
      <ul class="nav navbar-nav display">
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/home" class="">
            <i class="fa fa-home size-25" style="color: #527a7a !important;"></i>   
            <span class="font-size-menu">หน้าหลัก</span>
          </a>
        </li>
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/knowledge">
            <i class="fa fa-database size-25" style="color: #6b5b95 !important;"></i>  
            <span class="font-size-menu"> คลังความรู้</span>
          </a>
        </li>
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/examination">
            <i class="fa fa-folder-open-o size-25" style="color: #f18973 !important;"></i>  
            <span class="font-size-menu"> คลังข้อสอบ</span>
          </a>
        </li>
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/how-to-payment">
            <i class="fa fa-edit size-25" style="color: #667292 !important;"></i>  
            <span class="font-size-menu"> แจ้งชำระเงิน</span>
          </a>
        </li>
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/contact">
            <i class="fa fa-credit-card size-25" style="color: #87bdd8 !important;"></i>  
            <span class="font-size-menu"> วิธีการชำระเงิน</span>
          </a>
        </li>
        <li class="text-menu">
          <a href="http://localhost/ocsctutor/public/contact">
            <i class="fa fa-address-card-o size-25" style="color: #ffd900 !important;"></i>  
            <span class="font-size-menu"> ติดต่อเรา</span>
          </a>
        </li>
        <li>
          <!-- @if( Auth::guard('member')->check() )
            <a href="{!! route('logout') !!}">
              <i class="fa fa-sign-out size-25" style="color: #d64161;"></i>  
              <span class="font-size-menu"> ออกจากระบบ</span>
            </a>
          @else -->
            <a href="http://localhost/ocsctutor/public/register">
              <i class="fa fa-user size-25" style="color: #b1cbbb !important;"></i>  
              <span class="font-size-menu"> สมัครสมาชิก</span>
            </a>
          <!-- @endif -->
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- END HEADER MENU -->