.post-list .post-single .img-box {
    padding:10px;
    height: 200px;
    width: 100%;
    border: 2px solid #ececec;
}
.text {
    width: 100%;
    height: 90px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.page-title-margin-top {
    margin-top: 0px;
}

.f-size-20 {
    font-size: 20px !important;
}

.f-size-25 {
    font-size: 25px !important;
    top: 40% !important;
}

.size-25 {
    font-size: 25px !important;
}

.f-size-30 {
    font-size: 30px !important;
}

.li {
    color: #323232;
    font-size: 25px;
}

.circle-list li:before {
    padding-top: 11px;
}

.btn-list {
    padding: 5px 10px !important;
    font-size: 20px;
}

.f-bold {
    font-weight: bold;
}

.font-size-menu {
    font-size: 25px;
    color: #484f4f;
}

.text-menu {
    text-align: left;
}

.pd-left-250 {
    padding-left: 250px;
}

.font-color {
    color: black;
}

.tab-content {
    font-family: "Source Sans Pro","th_k2d_july8regular", sans-serif;
}

.page-header .page-header-menu {
    background: #fff;
}

/*.page-header .page-header-top .menu-toggler {
    float: right;
    margin: 50px 3px 0 0;
    width: 30px;
    height: 46px;
    opacity: .7;
    margin-right: -120px;
    margin-top: 50px;
}*/

.page-header .page-header-top .page-logo {
    float: left;
    display: block;
    width: 255px;
    height: 0px; 
    padding-left: 70px;
}

.page-header .page-header-menu .hor-menu .navbar-nav>li>a:hover {
    color: #484f4f;
    background: #fff!important;
}

.text-tell {
    margin-top: 20px;
    font-size: 20px
}

/*.page-header .page-header-top .top-menu {
    padding: 0;
    float: right;
    padding-right: 70px;
}*/

@media screen and (max-width: 480px) {
    .display-none {
        display: none !important;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 768px) {
    .display-none {
        display: none !important;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 800px) {
    .display-none {
        display: none !important;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 812px) {
    .display-none {
        display: none;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 860px) {

    .display-none {
        display: none;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 992px) {

    .display-none {
        display: none;
    }

    .mu-topbar {
        border-bottom:none!important; 
        float:left;
        width: 100%;
    }

    .size-logo {
        height: 36px;
        width: auto;
    }

}

@media screen and (max-width: 1024px) {

    .font-size-menu {
        font-size: 18px;
        color: #484f4f;
    }

    .text-menu {
        text-align: left;
    }

    .page-header .page-header-top .page-logo {
        padding-left: 0px;
    }

    .page-header .page-header-menu {
        padding: 0px 0 0;
        height: auto;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1305px;
    }
}



