<style type="text/css">
    .highcharts-container {
        font-family: "Open Sans","th_k2d_july8regular", sans-serif;
    }
    .highcharts-axis-title {
        font-family: "Open Sans","th_k2d_july8regular", sans-serif;
        font-size: 25px !important ;
    }
    .highcharts-axis-labels.highcharts-xaxis-labels  {
        font-family: "Open Sans","th_k2d_july8regular", sans-serif;
        font-size: 25px !important ;
    }
    .highcharts-line-series>text {
        font-family: "Open Sans","th_k2d_july8regular", sans-serif;
        font-size: 25px !important ;
    }
    .highcharts-label {
        font-family: "Open Sans","th_k2d_july8regular", sans-serif;
        font-size: 25px !important ;
    }

</style>
<div class="col-md-12">
    <div class="portlet light portlet-fit ">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase size-25">คะแนนสอบวิชาภาษาไทย</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="container">Placeholder for chart</div>
        </div>
    </div>

    <div class="portlet light ">
        <div class="portlet-title">
            <div class="caption">
                <i class=" icon-layers font-green"></i>
                <span class="caption-subject font-green bold uppercase size-25">คะแนนสอบ</span>
            </div>
        </div>
        <div class="portlet-body">
            <div id="pie" style="width: 800px; height: 600px; margin: 0 auto"></div>
        </div>
    </div>
</div>
