<style type="text/css">
    .bggreen {
        background-color: #96ceb4;
        padding: 15px 0px 5px 0px;
    }
    .page-content {
        display: inline-block;
        width: 100%;
        padding: 0px 0;
    }
</style>
<!--page title start-->
<section class="page-title mini-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text-uppercase f-size-30"> ข้อสอบอนุกรม ชุดที่ 1 </span>
                <ol class="breadcrumb f-size-25 hidden-sm hidden-xs">
                    <li><a href="http://localhost/ocsctutor/public/home">หน้าแรก /</a>
                    </li>
                    <li><a href="http://localhost/ocsctutor/public/examination">คลังข้อสอบ /</a>
                    </li>
                    <li><a href="{!! url('examination/subject', $subject->id) !!}"> คณิตศาสตร์ทั่วไป /</a> </li>
                    <li><a href="{!! url('examination/subject', $subject->id) !!}"> อนุกรม /</a> </li>
                    <li class="active"> ข้อสอบอนุกรม ชุดที่ 1 </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->
<!-- <div class="row"> -->
<div class="col-md-12">
    <!-- BEGIN SAMPLE FORM PORTLET-->
    <div class="col-md-6 portlet light m-top-50">
        <div class="portlet-title">
            <span class="pull-left f-size-25">เนื้อหา</span>
        </div>
        <div class="portlet-body form">
            <div class="form-body">
                1.
            </div>
            <!-- <div class="form-actions"></div> -->
        </div>
    </div>
    <div class="col-md-6 portlet light m-top-50">
        <div class="portlet-title">
            <!-- <div class="caption">
                <i class="icon-share font-dark"></i>
                <span class="caption-subject font-dark bold uppercase">More Form Samples</span>
            </div> -->
            <span class="pull-right f-size-25">{{ scores }} คะแนน</span>
        </div>
        <div class="portlet-body form">
            <ng-form role="form" name="frm">
                <div class="form-body">
                    <div class="form-group">
                        <span class="f-size-25">{{current_place.name}}</span>
                        <div class="mt-radio-list">
                            <div class="form-group" ng-class="{bggreen : current_place.choices[0].id == success}">
                                <label class="mt-radio mt-radio-outline choice f-size-20"> {{current_place.choices[0].name}}
                                    <input type="radio" value="{{current_place.choices[0].id}}" name="{{'test' + current_place.id}}" ng-model="choice" ng-click="check(choice,current_place.id)" ng-disabled="disabled_radio_choice"/>
                                    <span style="margin-top: 3px;"></span>
                                </label>
                            </div>
                            <div class="form-group" ng-class="{bggreen : current_place.choices[1].id == success}">
                                <label class="mt-radio mt-radio-outline choice f-size-20" > {{current_place.choices[1].name}}
                                    <input type="radio" value="{{current_place.choices[1].id}}" name="{{'test' + current_place.id}}" ng-model="choice" ng-click="check(choice,current_place.id)" ng-disabled="disabled_radio_choice"/>
                                    <span style="margin-top: 3px;"></span>
                                </label>
                            </div>
                            <div class="form-group" ng-class="{bggreen : current_place.choices[2].id == success}">
                                <label class="mt-radio mt-radio-outline choice f-size-20"> {{current_place.choices[2].name}}
                                    <input type="radio" value="{{current_place.choices[2].id}}" name="{{'test' + current_place.id}}" ng-model="choice" ng-click="check(choice,current_place.id)" ng-disabled="disabled_radio_choice"/>
                                    <span style="margin-top: 3px;"></span>
                                </label>
                            </div>
                            <div class="form-group" ng-class="{bggreen : current_place.choices[3].id == success}">
                                <label class="mt-radio mt-radio-outline choice f-size-20"> {{current_place.choices[3].name}}
                                <input type="radio" value="{{current_place.choices[3].id}}" name="{{'test' + current_place.id}}" ng-model="choice" ng-click="check(choice,current_place.id)" ng-disabled="disabled_radio_choice"/>
                                <span style="margin-top: 3px;"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    {{ answer }}
                </div>
                <div class="form-actions">
                    <a class="btn btn-extra-small btn-rounded btn-dark-border btn-transparent pull-right btn-list" 
                    ng-click="next(choice,current_place.id)" 
                    ng-disabled="disabled_button_next" 
                    ng-show="show_button_next">ข้อต่อไป</a>
                    <button type="submit" class="btn btn-extra-small btn-rounded btn-dark-border btn-transparent pull-right btn-list" 
                    ng-click="score()" 
                    ng-disabled="disabled_button_next" 
                    ng-show="show_button_score">สรุปคะแนน</button>
                </div>
            </ng-form>
        </div>
    </div>
    <!-- END SAMPLE FORM PORTLET-->
</div>
<!-- </div> -->

When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are
$$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$
$2^3$

<script type="text/ng-template" id="modal_score.html">
    <div class="modal-header modal-header-warning">
        <span class="modal-title pd-l-20 f-size-30">สรุปคะแนน</span>
    </div>
    <div class="modal-body">
        <span class="text-center f-size-30"> {{ score }} คะแนน </span>
    </div>
    <div class="modal-footer">
       <button type="button" class="btn green btn-outline" ng-click="yes()">ตกลง</button>
    </div>
</script>

<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>