<style type="text/css">
    .page-content {
        display: inline-block;
        width: 100%;
        padding: 0px 0;
    }
</style>
<!--page title start-->
<section class="page-title mini-title">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <span class="text-uppercase f-size-30"> อนุกรม </span>
                <ol class="breadcrumb f-size-25 hidden-sm hidden-xs">
                    <li><a href="{!! route('home') !!}">หน้าแรก /</a>
                    </li>
                    <li><a href="{!! route('knowledge') !!}">คลังข้อสอบ /</a>
                    </li>
                    <li><a href="{!! url('examination/subject', $subject->id) !!}"> คณิตศาสตร์ทั่วไป /</a> </li>
                    <li class="active"> อนุกรม </li>
                </ol>
            </div>
        </div>
    </div>
</section>
<!--page title end-->

<div class="col-md-12">
    <div class="col-md-9 col-md-offset-2 portlet light">
        <div class="portlet-body form m-top-50">
            <ul class="circle-list" style="margin-bottom: 180px;">
                <li ng-repeat="list in lists">
                    <a ui-sref="exam" class="li" style="color: #323232;">
                    {{ list.title }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>