<section class="body-content ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <section class="normal-tabs line-tab">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a data-toggle="tab" href="#login">Login</a>
                        </li>
                    </ul>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div id="login" class="tab-pane active">
                                <div class="login register ">
                                    <div class=" btn-rounded">
                                        <form class=" " action="login" method="post">
                                            <div class="form-group">
                                                <input type="text" name="email" ng-model="member.email" class="form-control" placeholder="Email">
                                            </div>

                                            <div class="form-group">
                                                <input type="password" name="password" ng-model="member.password" class="form-control " placeholder="Password">
                                            </div>

                                            <div class="form-group">
                                                <a class="btn btn-small btn-dark-border btn-rounded full-width" ng-click="doLogin()">Login
                                                </a>
                                            </div>

                                            <div class="form-group">
                                                <input type="checkbox" value="remember-me" id="checkbox1">
                                                <label for="checkbox1">Remember me</label>
                                                <a class="pull-right" data-toggle="modal" href="#forgotPass"> Forgot Password?</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>